*{
    font-family: 'Merriweather', serif;
    margin:0px;
    padding: 0px;
}

.header{
    padding-top: 50px;
}
.banner{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    margin: auto;
    width: 1320px;
    height: 600px;
    
}
.banner-cont{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-align: center;
    
}
.banner-title{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 259px;
    padding-top: 177px;
    padding-left: 530px;
}
.banner-desc{
    padding-left: 344px;
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
}

.offer{
    margin: auto;
    text-align: center;
}
.offer-title{
    margin-top: 120px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-cont1{
    margin-top: 30px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.offer-cont2{
    margin-top: 10px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer .offer-pic{
    margin-top: 17px;
    width: 802.9px;
    height: 500px;

}
.party-section{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 1320px;
    height: 600px;
    border-radius:20px ;
}

.party-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    width: 642px;
    font-weight: 900;
    padding-top: 126px;
    padding-left: 126px;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.party-cont{
    margin: 24px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    width: 697px;
    font-weight: 400; 
    padding-left: 100px;
}
.button{
    margin-top: 48px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    background: none;
    border: none;
    margin-left: 158px;
}
.party-section .newyear-pic{
    width: 319.83px;
    height: 464.662px;
    padding: 68px;
}


.best-gifts{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
}
.best-gifts-heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;  
}
.title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.best-gifts-desc{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px; /* 160% */
}


.gift-photos{
    width: 1320px;
    margin: auto;
    margin-bottom: 120px;
}
.gift-items{
    width: 424px;
    height: 450px;  
    transition: 0.5s;
    padding-right: 16px;
}
.gift-first-row{
    padding-top: 48px;
    display: flex;
}
.gift-second-row{
    padding-top: 24px;
    display: flex;
}
.gift-items img{
    border-radius: 5px;
}
.gift-items:hover{
    transform: scale(1.1);
}  


.news-letter{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
}


footer{
    padding-top: 250px;
    padding-bottom: 199px;
    width: 1600px;
    max-height: 609px;
    background: #070211;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.line{
    margin-top: 0px;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: auto;
    margin-right: auto;

}

.social-media{
    
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.line-two{
    margin-top: 48px;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: auto;
    margin-right: auto;
}